.Burger {
  width: 100%;
  height: 50%;
  overflow: scroll;
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.BurgerLayout {
  height: 44vh;
  margin-top: 20px;
}

@media (min-width: 1000px) and (min-height: 700px) {
  .Burger {
    width: 700px;
  }
}

@media (min-width: 500px) and (min-height: 400px) {
  .Burger {
    width: 350px;
  }
}
